<template name="passwordReset">
	<div class="container">
		<div class="row spaced-div">
			<div class="col-sm-8">
				<form id="recovery-form" action="action">
	                <input type="email" class="form-control" id="recovery-email" placeholder="your email address"/>
	            </form>
	            <button type="button" class="recover btn btn-sm btn-default btn-block">Send Reset Instruction To My Email Address</button>
	        </div>
	    </div>
	</div>
</template>

<template name="passwordEmailSent">
<div class="container spaced-div">
	<h4 class="text-center">We have sent an email for you to reset your password</h4>
</div>
</template>