<template name="booksEdit">

<img id="goodreadsLogoNotExtracted" src="/images/goodreads_icon_100x100-bff70f2a14699328631d91f1b40e2d5a.png" class="center-block" />

<!-- Modal not Extracted-->
<div class="modal fade" id="notExtractedGoodreadsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Showing the books you read</h4>
      </div>

      <div class="modal-body">
      By clicking 'get my books', we will securely direct you to the Goodreads website. <br /> Upon signing into Goodreads, your Inpelo profile page will include your virtual bookshelf.<br /><br />
      This will safely be updated every fortnight.
      </div>
      <div class="modal-footer">
        <button type="button" id="cancelGoodreadsExtraction" class="btn btn-default" data-dismiss="modal">cancel</button>
        <button type="button" id="acceptGoodreadsExtraction" class="btn btn-default">get my books</button>
      </div>

    </div>
  </div>
</div>
<!-- END Modal -->

</template>